<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.usp.ime.bandex">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />



    <application
        android:allowBackup="true"
        android:logo="@mipmap/usp_logo"
        android:icon="@drawable/diningicon"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light">
        <!-- Add the following meta-data for devices running Google Play service.
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
            -->
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:configChanges="orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MoreDetailsActivity"
            android:label="@string/title_activity_more_details"
            android:parentActivityName=".MainActivity"
            android:configChanges="orientation|screenSize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.usp.ime.bandex.MainActivity" />
        </activity>
        <activity
            android:name=".EvaluateLineActivity"
            android:label="@string/title_activity_evaluate_line"
            android:parentActivityName=".MainActivity"
            android:configChanges="orientation|screenSize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.usp.ime.bandex.MainActivity" />
        </activity>
    </application>

</manifest>
